.mat-table {
  width: 100%;
  box-shadow: none;
}
.product-listing-image {
  height: 20em;
  width: 15em;
}

@media all and (max-width: 699px) {
  .product-listing-image {
    height: 10em;
    width: 8em;
  }
  .mat-table {
    width: 90%;
  }
}
