.mat-table {
  width: 100%;
  box-shadow: none;
}
.product-listing-image {
  height: 20em;
  width: 15em;
}



@media all and (max-width: 699px) {
  .product-listing-image {
    height: 9em;
    width: 7em;
  }

}
.mat-spinner {
  margin: 10% auto;
}
 