header {
  a {
    margin: 2px;
  }
  .active-link {
    background-color: royalblue;
  }
  .logo {
    background-image: url('../assets/logo.png');
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .mat-icon {
    vertical-align: middle;
    margin: 0 5px;
  }
}
