/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Exo'
);

body {
  background-color: #f4f3f3;
  margin: 0;
  pm-root * {
    font-family: 'Exo', sans-serif;
  }
  overflow: hidden;
}

.left-spacer {
  margin-left: 0.2em;
}

.spacer {
  flex: 1 1 auto;
}
